[package]
name = "knet"
version.workspace = true
edition.workspace = true
authors.workspace = true
description = "network module"
license.workspace = true
homepage.workspace = true
repository.workspace = true
documentation.workspace = true

[features]
vsock = ["kdriver/vsock"]

[dependencies]
unittest = { workspace = true }
platconfig = { workspace = true }
kdriver = { workspace = true, features = ["net"] }
khal = { workspace = true }
ksync = { workspace = true }
ktask = { workspace = true }
kerrno = { workspace = true }
kfs = { workspace = true }
fs-ng-vfs = { workspace = true }
kio = { workspace = true }
kpoll = { workspace = true }
bitflags = "2.9.1"
cfg-if = { workspace = true }
enum_dispatch = { workspace = true }
hashbrown = "0.16"
lazyinit = { workspace = true }
lazy_static = { workspace = true }
log = { workspace = true }
ringbuf = { version = "0.4.8", default-features = false, features = ["alloc"] }
async-channel = { version = "2.5.0", default-features = false }
event-listener = { version = "5.4.0", default-features = false }
async-trait = "0.1.88"

[dependencies.x-smoltcp]
workspace = true
default-features = false
features = [
  "alloc",
  "log",             # no std
  "async",
  "medium-ethernet",
  "medium-ip",
  "proto-ipv4",
  "proto-ipv6",
  "socket-raw",
  "socket-icmp",
  "socket-udp",
  "socket-tcp",
  "socket-dns",
  # "fragmentation-buffer-size-65536", "proto-ipv4-fragmentation",
  # "reassembly-buffer-size-65536", "reassembly-buffer-count-32",
  # "assembler-max-segment-count-32",
]
