name: Check

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}-${{ github.event_name }}
  cancel-in-progress: true

jobs:
  rustfmt:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Install Rust
        uses: dtolnay/rust-toolchain@nightly
        with:
          components: rustfmt

      - name: Check formatting
        run: cargo +nightly fmt --all --check

  clippy:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        include:
          - arch: aarch64
            target: aarch64-unknown-none-softfloat
          - arch: x86_64
            target: x86_64-unknown-none
    steps:
      - uses: actions/checkout@v6
        with:
          submodules: "recursive"

      - name: Install Rust
        uses: dtolnay/rust-toolchain@nightly
        with:
          components: clippy
          targets: ${{ matrix.target }}

      - uses: Swatinem/rust-cache@v2
        with:
          shared-key: xkernel-check-${{ matrix.arch }}
          cache-targets: false
          save-if: ${{ github.ref == 'refs/heads/main' }}

      - uses: arceos-org/setup-musl@v1
        with:
          arch: ${{ matrix.arch }}

      - name: Setup MUSL environment
        run: |
          MUSL_GCC=$(which ${{ matrix.arch }}-linux-musl-gcc)
          MUSL_ROOT=$(dirname "$MUSL_GCC")/..
          MUSL_INCLUDE="$MUSL_ROOT/${{ matrix.arch }}-linux-musl/include"
          
          echo "MUSL_ROOT=$MUSL_ROOT" >> $GITHUB_ENV
          echo "MUSL_INCLUDE=$MUSL_INCLUDE" >> $GITHUB_ENV
          echo "CC=$MUSL_GCC" >> $GITHUB_ENV
          echo "CFLAGS=-I$MUSL_INCLUDE" >> $GITHUB_ENV
          echo "CARGO_TARGET_AARCH64_UNKNOWN_LINUX_MUSL_LINKER=$MUSL_GCC" >> $GITHUB_ENV
          echo "CARGO_TARGET_X86_64_UNKNOWN_LINUX_MUSL_LINKER=$MUSL_GCC" >> $GITHUB_ENV
          echo "BINDGEN_EXTRA_CLANG_ARGS=--sysroot=/dev/null" >> $GITHUB_ENV

      - name: Clippy
        run: |
          RUSTFLAGS="--cfg unittest --check-cfg=cfg(unittest)" \
            cargo +nightly clippy -p entry --target ${{ matrix.target }} \
            -F qemu -- -D warnings -A stable-features
